.p-sec06 {
  margin-bottom: 120px;
}

.p-sec06-ttl {
  font-size: 36px;
  line-height: 62px;
  font-weight: 800;
  text-align: center;
  color: #203467;
  margin-bottom: 56px;
}

.p-sec06-ttl span {
  font-size: 24px;
  font-weight: 700;
}
.p-sec06-read {
  max-width: 800px;
  margin: 0 auto;
  line-height: 32px;
  font-weight: 500;
}

.p-sec06-content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 64px;
}

.p-sec06-strategy-wrap01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 44px;
  position: relative;
  padding-top: 57px;
}

.p-sec06-strategy-wrap01::before {
  content: "";
  background-image: url("/asset/img/sec06-08.png");
  position: absolute;
  top: 37px;
  left: -100px;
  width: 82px;
  height: 87px;
}

.p-sec06-strategy-wrap02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 44px;
  position: relative;
  padding-top: 57px;
}

.p-sec06-strategy-wrap02::before {
  content: "";
  background-image: url("/asset/img/sec06-09.png");
  position: absolute;
  top: 37px;
  left: -100px;
  width: 82px;
  height: 87px;
}

.p-sec06-strategy-wrap03 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 44px;
  position: relative;
  padding-top: 57px;
}

.p-sec06-strategy-wrap03::before {
  content: "";
  background-image: url("/asset/img/sec06-10.png");
  position: absolute;
  top: 37px;
  left: -100px;
  width: 82px;
  height: 87px;
}

.p-sec06-strategy-wrap04 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 44px;
  position: relative;
  padding-top: 57px;
}

.p-sec06-strategy-wrap04::before {
  content: "";
  background-image: url("/asset/img/sec06-11.png");
  position: absolute;
  top: 37px;
  left: -100px;
  width: 82px;
  height: 87px;
}

.p-sec06-strategy-wrap05 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 44px;
  position: relative;
  padding-top: 57px;
}

.p-sec06-strategy-wrap05::before {
  content: "";
  background-image: url("/asset/img/sec06-12.png");
  position: absolute;
  top: 37px;
  left: -100px;
  width: 82px;
  height: 87px;
}

.p-sec06-strategy-wrap06 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 44px;
  position: relative;
  padding-top: 57px;
}

.p-sec06-strategy-wrap06::before {
  content: "";
  background-image: url("/asset/img/sec06-13.png");
  position: absolute;
  top: 37px;
  left: -100px;
  width: 82px;
  height: 87px;
}

.p-sec06-strategy-ttl-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.p-sec06-strategy-ttl-wrap span {
  font-size: 16px;
  color: #ffffff;
  background-color: #2277ea;
  border-radius: 100px;
  width: 60px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  display: inline-block;
  margin: -2px 17px 0 0;
}

.p-sec06-strategy-ttl {
  font-size: 22px;
  font-weight: 700;
  color: #2277ea;
}

.p-sec06-strategy-read {
  width: 760px;
  margin-right: 40px;
  font-size: 16px;
  line-height: 32px;
}

.p-sec06-strategy-img {
  margin-top: 38px;
}

@media (max-width: 768px) {
  .p-sec06-ttl {
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  .p-sec06-ttl span {
    font-size: 18px;
  }
  .p-sec06-content-wrap {
    margin-left: 30px;
  }
  .p-sec06-strategy-ttl-wrap {
    display: block;
    margin-left:30px;
  }
  .p-sec06-strategy-ttl-wrap span {
    margin-bottom: 14px;
  }
  .p-sec06-strategy-read {
    width: auto;
    margin: 0px;
  }
  .p-sec06-strategy-ttl {
    width: 68%;
    font-size: 18px;
  }
  .p-sec06-strategy-wrap01::before {
    top: 50px;
    left: -32px;
    width: 50px;
    background-size: 54px 50px;
    background-repeat: no-repeat;
  }
  .p-sec06-strategy-wrap01::before {
    top: 50px;
    left: -32px;
    width: 50px;
    background-size: 54px 50px;
    background-repeat: no-repeat;
  }
  .p-sec06-strategy-wrap02::before {
    top: 50px;
    left: -32px;
    width: 50px;
    background-size: 54px 50px;
    background-repeat: no-repeat;
  }
  .p-sec06-strategy-wrap03::before {
    top: 50px;
    left: -32px;
    width: 50px;
    background-size: 54px 50px;
    background-repeat: no-repeat;
  }
  .p-sec06-strategy-wrap04::before {
    top: 50px;
    left: -32px;
    width: 50px;
    background-size: 54px 50px;
    background-repeat: no-repeat;
  }
  .p-sec06-strategy-wrap05::before {
    top: 50px;
    left: -32px;
    width: 50px;
    background-size: 54px 50px;
    background-repeat: no-repeat;
  }
  .p-sec06-strategy-wrap06::before {
    top: 50px;
    left: -32px;
    width: 50px;
    background-size: 54px 50px;
    background-repeat: no-repeat;
  }
  .p-sec06-strategy-img {
    margin-top: 0px;
    height: 70px;
  }
  .p-sec06-strategy-img img {
    width: 64px;
    top: 56px;
    right: 30px;
    position: absolute;
  }
  .p-sec06-ttl br {
    display: none;
  }
  .p-sec06-strategy-wrap01 {
    margin: 0px;
  }
  .p-sec06-strategy-wrap02 {
    margin: 0px;
  }
  .p-sec06-strategy-wrap03 {
    margin: 0px;
  }
  .p-sec06-strategy-wrap04 {
    margin: 0px;
  }
  .p-sec06-strategy-wrap05 {
    margin: 0px;
  }
  .p-sec06-strategy-wrap06 {
    margin: 0px;
  }

}
