.p-sec05 {
  margin-bottom: 120px;
}

.p-sec05-ttl {
  font-size: 36px;
  line-height: 62px;
  font-weight: 800;
  text-align: center;
  color: #203467;
  margin-bottom: 56px;
}

.p-sec05-ttl span {
  font-size: 24px;
  font-weight: 700;
}
.p-sec05-read {
  max-width: 800px;
  margin: 0 auto;
  line-height: 32px;
  font-weight: 500;
}
.p-sec05-content01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
}
.p-sec05-content01-ttl {
  font-size: 28px;
  font-weight: 700;
  line-height: 50px;
  color: #2277ea;
  margin-bottom: 30px;
  margin-top: -11px;
  position: relative;
  padding-top: 50px;
}
.p-sec05-content01-ttl::after {
  content: "";
  background-image: url("/asset/img/sec05-02.png");
  position: absolute;
  top: -70px;
  left: -83px;
  z-index: -1;
  width: 142px;
  height: 369px;
}

.p-sec05-content01-left,
.p-sec05-content03-left {
  width: 500px;
  margin-left: 110px;
  line-height: 32px;
}

.p-sec05-content02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-top: 34.4px;
}
.p-sec05-content02-ttl {
  font-size: 28px;
  font-weight: 700;
  line-height: 50px;
  color: #2277ea;
  padding-top: 50px;
  margin-bottom: 30px;
  margin-top: -11px;
  position: relative;
}
.p-sec05-content02-ttl::after {
  content: "";
  background-image: url("/asset/img/sec05-03.png");
  position: absolute;
  top: -70px;
  left: -83px;
  z-index: -1;
  width: 142px;
  height: 369px;
}

.p-sec05-content02-read {
  width: 500px;
  line-height: 32px;
  margin-right: 32px;
}

.p-sec05-content03 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 0 100px;
}

.p-sec05-content03-ttl {
  font-size: 28px;
  font-weight: 700;
  line-height: 50px;
  color: #2277ea;
  margin-bottom: 30px;
  margin-top: -11px;
  position: relative;
  padding-top: 50px;
}

.p-sec05-content03-ttl::after {
  content: "";
  background-image: url("/asset/img/sec05-06.png");
  position: absolute;
  top: -70px;
  left: -83px;
  z-index: -1;
  width: 142px;
  height: 369px;
}

@media (max-width: 768px) {
  .p-sec05-ttl {
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  .p-sec05-ttl span {
    font-size: 18px;
  }
  .p-sec05-content01 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column-reverse;
  }
  .p-sec05-content01-left {
    width: auto;
    margin-left: 0px;
  }

  .p-sec05-content03-left {
    width: auto;
    margin-left: 0px;
  }

  .p-sec05-content01-ttl {
    text-align: center;
    margin-left: 40px;
    font-size: 22px;
  }
  .p-sec05-content03-ttl {
    text-align: center;
    margin-left: 40px;
    font-size: 22px;
  }
  .p-sec05-content01-ttl::after{
    left: -60px;
  }
  .p-sec05-content02 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: auto;
    margin-left: 8px;
  }
  .p-sec05-content02 div {
    margin-left: 0px;
  }
  .p-sec05-content02-ttl {
    line-height: 34px;
    text-align: center;
    margin-left: 40px;
    font-size: 22px;
  }

  .p-sec05-content02-ttl::after{
    left: -60px;
  }

  .p-sec05-content03-ttl::after{
    left: -60px;
  }
  .p-sec05-content03 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column-reverse;
    width: auto;
    margin-left: 0px;
  }
  .p-sec05-content03-ttl {
    font-size: 20px;
    line-height: 34px;
  }

  .p-sec05-content02-read {
    width: auto;
    margin-right: 0px;
  }
  .p-sec05-content03-read {
    width: auto;
    margin-right: 0px;
  }
  .p-sec05-ttl br {
    display: none;
  }
  .p-sec05-ttl span::after {
    content: "\A";
    white-space: pre;
  }
}
