.p-sec02 {
  margin-bottom: 120px;
}

.p-sec02-ttl {
  font-size: 36px;
  line-height: 62px;
  font-weight: 800;
  text-align: center;
  color: #203467;
  margin-bottom: 56px;
}

.p-sec02-ttl span {
  font-size: 24px;
  font-weight: 700;
}

.p-sec02-read {
  max-width: 800px;
  margin: 0 auto;
  line-height: 32px;
  font-weight: 500;
}

.p-sec02-content01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 38px;
}

.p-sec02-content01-ttl {
  font-size: 28px;
  font-weight: 700;
  line-height: 50px;
  color: #2277ea;
  padding-top: 80px;
  margin-bottom: 30px;
  margin-top: -11px;
}

.p-sec02-content01-read {
  width: 540px;
  line-height: 32px;
  margin-right: 70px;
}

.p-sec02-content02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

.p-sec02-content02-ttl {
  font-size: 28px;
  font-weight: 700;
  line-height: 50px;
  color: #2277ea;
  margin-bottom: 30px;
  margin-top: -11px;
}

.p-sec02-content02-left {
  width: 540px;
  margin-left: 70px;
  line-height: 32px;
}

.p-sec02-phase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 28px;
  margin-top: 80px;
}

.p-sec02-list01 {
  background-image: url("/asset/img/sec02-07.png");
  position: relative;
  width: 204px;
  height: 204px;
  color: #203467;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  text-align: center;
  padding-top: 118.3px;
  margin-right: 29px;
}

.p-sec02-list01::before {
  position: absolute;
  content: "";
  background-image: url("/asset/img/sec02-03.png");
  background-repeat: no-repeat;
}

.p-sec02-list01::after {
  position: absolute;
  content: "";
  background-image: url("/asset/img/sec02-11.png");
  background-repeat: no-repeat;
  top: 51px;
  right: 0;
  width: 36px;
  height: 19px;
}

.p-sec02-list01::before {
  width: 42.69px;
  height: 64.07px;
  left: -21.5px;
  bottom: 24px;
}

.p-sec02-list02 {
  background-image: url("/asset/img/sec02-08.png");
  position: relative;
  width: 204px;
  height: 204px;
  color: #203467;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  text-align: center;
  padding-top: 118.3px;
  margin-right: 54px;
}

.p-sec02-list02::before {
  position: absolute;
  content: "";
  background-image: url("/asset/img/sec02-04.png");
  background-repeat: no-repeat;
}

.p-sec02-list02::after {
  position: absolute;
  content: "";
  background-image: url("/asset/img/sec02-12.png");
  background-repeat: no-repeat;
  top: 51px;
  right: 0;
  width: 36px;
  height: 19px;
}

.p-sec02-list02::before {
  width: 56.02px;
  height: 67.02px;
  left: -21.5px;
  top: 0;
}

.p-sec02-list02::after {
  right: -20px;
}

.p-sec02-list03 {
  background-image: url("/asset/img/sec02-09.png");
  position: relative;
  width: 204px;
  height: 204px;
  color: #203467;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  text-align: center;
  padding-top: 118.3px;
  margin-right: 26px;
}

.p-sec02-list03::before {
  position: absolute;
  content: "";
  background-image: url("/asset/img/sec02-05.png");
  background-repeat: no-repeat;
}

.p-sec02-list03::after {
  position: absolute;
  content: "";
  background-image: url("/asset/img/sec02-11.png");
  background-repeat: no-repeat;
  top: 51px;
  right: 0;
  width: 36px;
  height: 19px;
}

.p-sec02-list03::before {
  width: 55.23px;
  height: 65.74px;
  left: -21.5px;
  bottom: 24px;
}

.p-sec02-list04 {
  background-image: url("/asset/img/sec02-10.png");
  position: relative;
  width: 204px;
  height: 204px;
  color: #203467;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  text-align: center;
  padding-top: 118.3px;
}

.p-sec02-list04::before {
  position: absolute;
  content: "";
  background-image: url("/asset/img/sec02-06.png");
  background-repeat: no-repeat;
}

.p-sec02-list04::after {
  position: absolute;
  content: "";
  background-image: url("/asset/img/sec02-11.png");
  background-repeat: no-repeat;
  top: 51px;
  right: 0;
  width: 36px;
  height: 19px;
}

.p-sec02-list04::before {
  width: 56.54px;
  height: 67.2px;
  left: -21.5px;
  top: 0;
}

.p-sec02-list04::after {
  content: none;
}

@media (max-width: 768px) {
 .p-sec02-content01 div{
    margin-bottom: 32px;
 }
  .p-sec02-content01-ttl {
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    margin-bottom: 20px;
    padding: 0;
  }
  
  .p-sec02-content02-read{
      width: 100%;
  }

  .p-sec02-content01-read{
    width: 100%;
  }
  .p-sec02-ttl span {
    font-size: 18px;
  }

  .p-sec02-content02-ttl {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 34px;
  }

  .p-sec02-phase {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .p-sec02-content02-left{
    width: 100%;
    margin-left: 0px;
    margin-bottom: 32px;
  }

  .p-sec02-content02 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column-reverse;
  }

  .p-sec02-content01 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .p-sec02-ttl {
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  figure{
      text-align: center;
  }
}
