.p-sec01 {
  padding-bottom: 120px;
}

.p-sec01-read-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  margin-right: -70px;
  margin-top: 60px;
}

.p-sec01-read01 {
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
  background-image: url("/asset/img/sec01-01.png");
  width: 330px;
  height: 330px;
  margin-top: 110px;
}

.p-sec01-read01-text {
  position: absolute;
  top: 70px;
  left: 65px;
}

.p-sec01-read02 {
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
  background-image: url("/asset/img/sec01-02.png");
  width: 370px;
  height: 372px;
}

.p-sec01-read02-text {
  position: absolute;
  top: 70px;
  left: 72px;
}

.p-sec01-read03 {
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
  background-image: url("/asset/img/sec01-03.png");
  width: 369px;
  height: 310px;
  margin-top: 110px;
}

.p-sec01-read03-text {
  position: absolute;
  top: 75px;
  left: 75px;
}

.p-sec01-ttl {
  font-size: 36px;
  line-height: 62px;
  font-weight: 800;
  text-align: center;
  color: #203467;
}
.p-sec01-ttl span {
  font-size: 24px;
  font-weight: 700;
}
.p-sec01-content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 55px;
  margin-bottom: 70px;
}
.p-sec01-left {
  padding: 60px 86px 0 0;
}
.p-sec01-left-ttl {
  font-size: 28px;
  font-weight: 700;
  line-height: 50px;
  color: #2277ea;
  margin-bottom: 70px;
}

.p-sec01-list-wrap li {
  list-style: none;
  margin-bottom: 7px;
}

.p-sec01-list-wrap li:last-child {
  margin-bottom: 0px;
}

.p-sec01-list01 {
  background-image: url("/asset/img/sec01-05.png");
  position: relative;
  width: 600px;
  height: 72px;
  color: #203467;
  font-size: 20px;
  font-weight: 700;
  line-height: 72px;
  padding-left: 60px;
}

.p-sec01-list01::after {
  position: absolute;
  content: "";
  top: 7px;
  right: 15px;
  width: 56px;
  height: 56px;
  background-image: url("/asset/img/sec01-06.png");
}

.p-sec01-list02 {
  background-image: url("/asset/img/sec01-05.png");
  position: relative;
  width: 600px;
  height: 72px;
  color: #203467;
  font-size: 20px;
  font-weight: 700;
  line-height: 72px;
  padding-left: 60px;
}

.p-sec01-list02::after {
  position: absolute;
  content: "";
  top: 7px;
  right: 15px;
  width: 56px;
  height: 56px;
  background-image: url("/asset/img/sec01-07.png");
}

.p-sec01-list03 {
  background-image: url("/asset/img/sec01-05.png");
  position: relative;
  width: 600px;
  height: 72px;
  color: #203467;
  font-size: 20px;
  font-weight: 700;
  line-height: 72px;
  padding-left: 60px;
}

.p-sec01-list03::after {
  position: absolute;
  content: "";
  top: 7px;
  right: 15px;
  width: 56px;
  height: 56px;
  background-image: url("/asset/img/sec01-08.png");
}

.p-sec01-list04 {
  background-image: url("/asset/img/sec01-05.png");
  position: relative;
  width: 600px;
  height: 72px;
  color: #203467;
  font-size: 20px;
  font-weight: 700;
  line-height: 72px;
  padding-left: 60px;
}

.p-sec01-list04::after {
  position: absolute;
  content: "";
  top: 7px;
  right: 15px;
  width: 56px;
  height: 56px;
  background-image: url("/asset/img/sec01-09.png");
}

.p-sec01-list05 {
  background-image: url("/asset/img/sec01-05.png");
  position: relative;
  width: 600px;
  height: 72px;
  color: #203467;
  font-size: 20px;
  font-weight: 700;
  line-height: 72px;
  padding-left: 60px;
}

.p-sec01-list05::after {
  position: absolute;
  content: "";
  top: 7px;
  right: 15px;
  width: 56px;
  height: 56px;
  background-image: url("/asset/img/sec01-10.png");
}

.p-sec01-list06 {
  background-image: url("/asset/img/sec01-05.png");
  position: relative;
  width: 600px;
  height: 72px;
  color: #203467;
  font-size: 20px;
  font-weight: 700;
  line-height: 72px;
  padding-left: 60px;
}
.p-sec01-list05 br {
  display: none;
}
.p-sec01-list06 br {
  display: none;
}

.p-sec01-list06::after {
  position: absolute;
  content: "";
  top: 7px;
  right: 15px;
  width: 56px;
  height: 56px;
  background-image: url("/asset/img/sec01-11.png");
}

.p-sec01-end-text {
  font-size: 28px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 70px;
}

@media (max-width: 1058px) {
  .p-sec01-left {
    padding: 0px 10px 30px 30px;
  }
}

@media (max-width: 768px) {
  .p-sec01-read-wrap {
    width: 458px;
    margin: 120px auto 0;
    height: 430px;
    justify-content: center;
    line-height: 24px;
  }
  .p-sec01-ttl {
    font-size: 24px;
    line-height: 40px;
  }
  .p-sec01-read01-text {
    top: 40px;
    left: 37px;
    font-size: 14px;
  }
  .p-sec01-read02-text {
    top: 30px;
    left: 40px;
    font-size: 14px;
  }
  .p-sec01-read03-text {
    top: 47px;
    left: 40px;
    font-size: 14px;
  }
  .p-sec01-read01 {
    background-size: 124%;
    width: 180px;
    height: 222px;
    margin-top: 0px;
    background-size: cover;
  }
  .p-sec01-read-wrap .p-sec01-read02 {
    height: 269px;
    background-size: cover;
    transform: translate(0px, -70px);
    background-size: 122%;
    width: 180px;
  }
  .p-sec01-read03 {
    width: 224px;
    margin: 30px auto 0px;
    transform: translateY(-100px);
    background-size: 122%;
    width: 180px;
    margin-top: 0px;
    position: absolute;
    bottom: -146px;
    left: 70px;
    right: 0px;
  }
  .p-sec01-ttl span {
    font-size: 18px;
  }
  .p-sec01-content-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .p-sec01-content-wrap .p-sec01-left {
    margin: 14px auto;
    padding: 0;
  }
  li.p-sec01-list01 {
    width: 100%;
    font-size: 18px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-left: 40px;
  }
  li.p-sec01-list02 {
    width: 100%;
    font-size: 18px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-left: 40px;
  }
  li.p-sec01-list03 {
    width: 100%;
    font-size: 18px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-left: 40px;
  }
  li.p-sec01-list04 {
    width: 100%;
    font-size: 18px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-left: 40px;
  }
  li.p-sec01-list05 {
    width: 100%;
    font-size: 18px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-left: 40px;
    height: auto;
    line-height: 30px;
  }
  li.p-sec01-list06 {
    width: 100%;
    font-size: 18px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-left: 40px;
    height: auto;
    line-height: 30px;
  }
  .p-sec01-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .p-sec01-left-ttl {
    font-size: 20px;
    line-height: 34px;
    margin-bottom: 0px;
  }
  .p-sec01-read-wrap {
    flex-wrap: wrap;
    position: absolute;
    justify-content: center;
    left: 0px;
    right: 0px;
    width: 100%;
  }
  .p-sec01-wrap {
    height: 560px;
  }
  .p-sec01-list01::after {
    top: 16px;
    width: 50px;
    height: 50px;
  }
  .p-sec01-list02::after {
    top: 16px;
    width: 50px;
    height: 50px;
  }
  .p-sec01-list03::after {
    top: 16px;
    width: 50px;
    height: 50px;
  }
  .p-sec01-list04::after {
    top: 16px;
    width: 50px;
    height: 50px;
  }
  .p-sec01-list05::after {
    top: 16px;
    width: 50px;
    height: 50px;
  }
  .p-sec01-list06::after {
    top: 16px;
    width: 50px;
    height: 50px;
  }
  .p-sec01-list05 br {
    display: block;
  }
  .p-sec01-list06 br {
    display: block;
  }
  .p-sec02-ttl br{
      display: none;
  }
  .p-sec03-ttl br{
      display: none;
  }
}

@media (max-width: 450px) {
  .p-sec01-read01 {
    position: absolute;
    left: 10px;
  }
  .p-sec01-read02 {
    position: absolute;
    right: 10px;
  }
}
