.p-sec08 {
  margin-bottom: 120px;
}

.p-sec08-ttl {
  font-size: 36px;
  line-height: 62px;
  font-weight: 800;
  text-align: center;
  color: #203467;
  margin-bottom: 45px;
}
.p-sec08-ttl span {
  font-size: 24px;
  font-weight: 700;
}
.p-sec08-content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.p-sec08-img {
  margin-top: 100px;
}

.p-sec08-content-read {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}

.p-sec08-content-read a {
  text-decoration: underline;
}

.p-sec08-content01 {
  width: 400px;
  padding: 35px 40px;
  -webkit-box-shadow: 0px 10px 20px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 20px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-bottom: 24px;
}

.p-sec08-content01::after {
  content: "";
  background-image: url("/asset/img/sec08-02.png");
  position: absolute;
  width: 8px;
  height: 8px;
}

.p-sec08-content01::after {
  bottom: 90px;
  right: -16px;
}

.p-sec08-content-ttl01 {
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  padding-left: 40px;
  position: relative;
}

.p-sec08-content-ttl01::after {
  content: "";
  background-image: url("/asset/img/sec08-03.png");
  position: absolute;
  width: 28px;
  height: 37px;
  top: 0px;
  left: 0px;
}

.p-sec08-content03 {
  width: 400px;
  padding: 35px 40px;
  -webkit-box-shadow: 0px 10px 20px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 20px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-bottom: 24px;
}

.p-sec08-content03::after {
  content: "";
  background-image: url("/asset/img/sec08-02.png");
  position: absolute;
  width: 8px;
  height: 8px;
}

.p-sec08-content03::after {
  bottom: 115px;
  right: -16px;
}

.p-sec08-content-ttl03 {
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  padding-left: 40px;
  position: relative;
}

.p-sec08-content-ttl03::after {
  content: "";
  background-image: url("/asset/img/sec08-05.png");
  position: absolute;
  width: 28px;
  height: 37px;
  top: 0px;
  left: 0px;
}

.p-sec08-content05 {
  width: 400px;
  padding: 35px 40px;
  -webkit-box-shadow: 0px 10px 20px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 20px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  padding-top: 27px;
  margin-bottom: 24px;
}

.p-sec08-content05::after {
  content: "";
  background-image: url("/asset/img/sec08-02.png");
  position: absolute;
  width: 8px;
  height: 8px;
}

.p-sec08-content05::after {
  bottom: 135px;
  right: -16px;
}

.p-sec08-content-ttl05 {
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  padding-left: 40px;
  position: relative;
}

.p-sec08-content-ttl05::after {
  content: "";
  background-image: url("/asset/img/sec08-07.png");
  position: absolute;
  width: 28px;
  height: 37px;
  top: 0px;
  left: 0px;
}

.p-sec08-content07 {
  width: 400px;
  padding: 35px 40px;
  -webkit-box-shadow: 0px 10px 20px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 20px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  padding-top: 27px;
}

.p-sec08-content07::after {
  content: "";
  background-image: url("/asset/img/sec08-02.png");
  position: absolute;
  width: 8px;
  height: 8px;
}

.p-sec08-content07::after {
  bottom: 155px;
  right: -16px;
}

.p-sec08-content-ttl07 {
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  padding-left: 40px;
  position: relative;
}

.p-sec08-content-ttl07::after {
  content: "";
  background-image: url("/asset/img/sec08-09.png");
  position: absolute;
  width: 28px;
  height: 37px;
  top: 0px;
  left: 0px;
}

.p-sec08-content-right {
  margin-top: 40px;
}

.p-sec08-content02 {
  width: 400px;
  padding: 35px 40px;
  -webkit-box-shadow: 0px 10px 20px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 20px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-bottom: 24px;
}

.p-sec08-content02::after {
  content: "";
  background-image: url("/asset/img/sec08-02.png");
  position: absolute;
  width: 8px;
  height: 8px;
}

.p-sec08-content02::after {
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, -1);
  bottom: 30px;
  left: -16px;
}

.p-sec08-content-ttl02 {
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  padding-left: 40px;
  position: relative;
}

.p-sec08-content-ttl02::after {
  content: "";
  background-image: url("/asset/img/sec08-04.png");
  position: absolute;
  width: 28px;
  height: 37px;
  top: 0px;
  left: 0px;
}

.p-sec08-content04 {
  width: 400px;
  padding: 35px 40px;
  -webkit-box-shadow: 0px 10px 20px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 20px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  padding-top: 27px;
  margin-bottom: 24px;
}

.p-sec08-content04::after {
  content: "";
  background-image: url("/asset/img/sec08-02.png");
  position: absolute;
  width: 8px;
  height: 8px;
}

.p-sec08-content04::after {
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, -1);
  bottom: 45px;
  left: -16px;
}

.p-sec08-content-ttl04 {
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  padding-left: 40px;
  position: relative;
}

.p-sec08-content-ttl04::after {
  content: "";
  background-image: url("/asset/img/sec08-06.png");
  position: absolute;
  width: 28px;
  height: 37px;
  top: 0px;
  left: 0px;
}

.p-sec08-content06 {
  width: 400px;
  padding: 35px 40px;
  -webkit-box-shadow: 0px 10px 20px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 20px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-bottom: 24px;
}

.p-sec08-content06::after {
  content: "";
  background-image: url("/asset/img/sec08-02.png");
  position: absolute;
  width: 8px;
  height: 8px;
}

.p-sec08-content06::after {
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, -1);
  bottom: 140px;
  left: -16px;
}

.p-sec08-content-ttl06 {
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  padding-left: 40px;
  position: relative;
  line-height: 30px;
}

.p-sec08-content-ttl06::after {
  content: "";
  background-image: url("/asset/img/sec08-08.png");
  position: absolute;
  width: 28px;
  height: 37px;
  top: 0px;
  left: 0px;
}

.p-sec08-content08 {
  width: 400px;
  padding: 35px 40px;
  -webkit-box-shadow: 0px 10px 20px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 20px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-bottom: 24px;
}

.p-sec08-content08::after {
  content: "";
  background-image: url("/asset/img/sec08-02.png");
  position: absolute;
  width: 8px;
  height: 8px;
}

.p-sec08-content08::after {
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, -1);
  bottom: 150px;
  left: -16px;
}

.p-sec08-content-ttl08 {
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  padding-left: 40px;
  position: relative;
}

.p-sec08-content-ttl08::after {
  content: "";
  background-image: url("/asset/img/sec08-10.png");
  position: absolute;
  width: 28px;
  height: 37px;
  top: 0px;
  left: 0px;
}

.p-sec08-content-option {
  width: 960px;
  padding: 40px;
  text-align: center;
  margin: 51.7px auto 86.7px;
  -webkit-box-shadow: 0px 10px 20px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 20px 8px rgba(0, 0, 0, 0.1);
}

.p-sec08-content-ttl-option {
  margin-bottom: 13px;
}

.p-sec08-content-ttl-option img {
  max-width: 71px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .p-sec08-ttl {
    font-size: 24px;
    line-height: 40px;
  }
  .p-sec08-ttl span {
    font-size: 18px;
  }
  .p-sec08-content-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .p-sec08-content-option {
    padding: 30px 16px;
    width: 100%;
    margin-top:10px;
  }
  .p-sec08-content-ttl-option {
    text-align: left;
  }
  .p-sec08-content-read {
    text-align: left;
  }
  .p-sec08-content01::after {
    display: none;
  }
  .p-sec08-content02::after {
    display: none;
  }
  .p-sec08-content03::after {
    display: none;
  }
  .p-sec08-content04::after {
    display: none;
  }
  .p-sec08-content05::after {
    display: none;
  }
  .p-sec08-content06::after {
    display: none;
  }
  .p-sec08-content07::after {
    display: none;
  }
  .p-sec08-content08::after {
    display: none;
  }
  .p-sec08-content01 {
    padding: 30px 16px;
    width: 100%;
  }
  .p-sec08-content02 {
    padding: 30px 16px;
    width: 100%;
  }
  .p-sec08-content03 {
    padding: 30px 16px;
    width: 100%;
  }
  .p-sec08-content04 {
    padding: 30px 16px;
    width: 100%;
  }
  .p-sec08-content05 {
    padding: 30px 16px;
    width: 100%;
  }
  .p-sec08-content06 {
    padding: 30px 16px;
    width: 100%;
  }
  .p-sec08-content07 {
    padding: 30px 16px;
    width: 100%;
  }
  .p-sec08-content08 {
    padding: 30px 16px;
    width: 100%;
  }
}
