@charset "UTF-8";
/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

body {
  font-family: Hiragino Sans,"ヒラギノ角ゴシック",Hiragino Kaku Gothic ProN,"ヒラギノ角ゴ ProN W3",Roboto,"Droid Sans",YuGothic,"游ゴシック",Meiryo,"メイリオ",Verdana,"ＭＳ Ｐゴシック",sans-serif;
  color: #203467;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: initial;
}

img {
  image-rendering: -webkit-optimize-contrast;
  width: 100%;
  height: auto;
}

.pc-only {
  display: block !important;
}

@media (max-width: 768px) {
  .pc-only {
    display: none !important;
  }
}

.sp-only {
  display: none !important;
}

@media (max-width: 768px) {
  .sp-only {
    display: block !important;
  }
}

.content-width {
  max-width: 1000px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .content-width {
    padding: 0 15px;
    max-width: 343px;
    padding: 0 15px;
  }
}

.c-square-btn {
  display: block;
  border-radius: 4px;
  margin: 0 auto;
  width: 360px;
  height: 68px;
  line-height: 68px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, from(#F2437F), color-stop(50%, #FFC80E), to(#F98B42));
  background: linear-gradient(90deg, #F2437F 0%, #FFC80E 50%, #F98B42 100%);
  background-size: 200% 68px;
  -webkit-box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

@media (max-width: 768px) {
  .c-square-btn {
    width: 327px;
    height: 64px;
    font-size: 18px;
    line-height: 64px;
  }
}

.c-square-btn:hover {
  background-position: 100% 0;
}

.p-sec04 .c-acd-check {
  display: none;
}

.p-sec04 .c-acd-label {
  background: url("/asset/img/sec04-01.png");
  color: #2277EA;
  display: block;
  margin-bottom: 1px;
  padding: 29px 32px 32px;
  position: relative;
  width: 488px;
  height: 80px;
  font-size: 22px;
  font-weight: 700;
  -webkit-transition: .8s;
  transition: .8s;
}

.p-sec04 .c-acd-label:before,
.p-sec04 .c-acd-label:after {
  content: "";
  position: absolute;
  bottom: 20px;
  right: 20px;
  margin: auto;
  height: 2px;
  width: 14px;
  background-color: #2277EA;
  -webkit-transition: .8s;
  transition: .8s;
}

.p-sec04 .c-acd-label:after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: .8s;
  transition: .8s;
}

.p-sec04 .c-acd-content {
  background: url("/asset/img/sec04-01.png");
  display: block;
  height: 0;
  opacity: 0;
  padding-top: 10px;
  color: #203467;
  font-size: 16px;
  font-weight: 300;
  visibility: hidden;
  overflow: hidden;
  line-height: 32px;
}

.p-sec04 .c-acd-check:checked + .c-acd-label::before {
  opacity: 0;
}

.p-sec04 .c-acd-check:checked + .c-acd-label::after {
  opacity: 1;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: .8s;
  transition: .8s;
}

.p-sec04 .c-acd-check:checked + .c-acd-label {
  height: auto;
  -webkit-transition: .8s;
  transition: .8s;
}

.p-sec04 .c-acd-check:checked + .c-acd-label .c-acd-content {
  display: block;
  height: auto;
  opacity: 1;
  visibility: visible;
  overflow: initial;
  -webkit-transition: .8s;
  transition: .8s;
}

.p-sec04 .c-acd-img01 {
  position: relative;
}

.p-sec04 .c-acd-img01::after {
  content: '';
  background-image: url("/asset/img/sec04-02.png");
  position: absolute;
  top: -16px;
  right: 32px;
  width: 80px;
  height: 80px;
}

.p-sec04 .c-acd-img02 {
  position: relative;
}

.p-sec04 .c-acd-img02::after {
  content: '';
  background-image: url("/asset/img/sec04-03.png");
  position: absolute;
  top: -16px;
  right: 32px;
  width: 80px;
  height: 80px;
}

.p-sec04 .c-acd-img03 {
  position: relative;
}

.p-sec04 .c-acd-img03::after {
  content: '';
  background-image: url("/asset/img/sec04-04.png");
  position: absolute;
  top: -16px;
  right: 32px;
  width: 80px;
  height: 80px;
}

.p-sec04 .c-acd-img04 {
  position: relative;
}

.p-sec04 .c-acd-img04::after {
  content: '';
  background-image: url("/asset/img/sec04-05.png");
  position: absolute;
  top: -16px;
  right: 32px;
  width: 80px;
  height: 80px;
}

.p-sec04 .c-acd-img05 {
  position: relative;
}

.p-sec04 .c-acd-img05::after {
  content: '';
  background-image: url("/asset/img/sec04-06.png");
  position: absolute;
  top: -16px;
  right: 32px;
  width: 80px;
  height: 80px;
}

.p-sec04 .c-acd-img06 {
  position: relative;
}

.p-sec04 .c-acd-img06::after {
  content: '';
  background-image: url("/asset/img/sec04-07.png");
  position: absolute;
  top: -16px;
  right: 32px;
  width: 80px;
  height: 80px;
}

.p-sec09 .c-acd-check {
  display: none;
}

.p-sec09 .c-acd-label {
  background: #F2F7FE;
  height: 72px;
  line-height: 72px;
  padding-left: 80px;
  display: block;
  position: relative;
}

.p-sec09 .c-acd-label:before,
.p-sec09 .c-acd-label:after {
  content: "";
  position: absolute;
  bottom: 35px;
  right: 32px;
  margin: auto;
  height: 2px;
  width: 14px;
  background-color: #2277EA;
  -webkit-transition: .8s;
  transition: .8s;
}

.p-sec09 .c-acd-label:after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: .8s;
  transition: .8s;
}

.p-sec09 .c-acd-content {
  display: block;
  height: 0;
  opacity: 0;
  padding: 7px 80px 0;
  -webkit-transition: .8s;
  transition: .8s;
  visibility: hidden;
}

.p-sec09 .c-acd-img {
  position: relative;
}

.p-sec09 .c-acd-img::after {
  content: '';
  background-image: url("/asset/img/sec09-01.png");
  position: absolute;
  top: 17px;
  left: 35px;
  width: 16px;
  height: 34px;
}

.p-sec09 .c-acd-check:checked + .c-acd-label::before {
  opacity: 0;
}

.p-sec09 .c-acd-check:checked + .c-acd-label::after {
  opacity: 1;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: .8s;
  transition: .8s;
}

.p-sec09 .c-acd-check:checked + .c-acd-label + .c-acd-content {
  height: 50px;
  opacity: 1;
  padding: 27px 80px 0;
  visibility: visible;
  margin-bottom: 86px;
  position: relative;
  line-height: 32px;
  font-weight: 300;
}

.p-sec09 .c-acd-check:checked + .c-acd-label + .c-acd-content::after {
  position: absolute;
  content: '';
  top: 21px;
  left: 32px;
  background-image: url("/asset/img/sec09-02.png");
  width: 24px;
  height: 53px;
}

header img, footer img {
  width: 100%;
}

header {
  position: fixed;
  z-index: 9999;
  margin-top: -5px;
}

.p-contact {
  background-image: url("/asset/img/contact-01.png");
  background-repeat: no-repeat;
  background-position: center top;
  color: #ffffff;
  text-align: center;
  padding-top: 140px;
  position: relative;
  width: 1160px;
  margin: 0 auto;
}

.p-contact::before {
  position: absolute;
  content: '';
  top: -25px;
  left: 207px;
  z-index: -1;
  background-image: url("/asset/img/contact-02.png");
  width: 95px;
  height: 80px;
}

.p-contact::after {
  position: absolute;
  content: '';
  bottom: 36px;
  right: 126px;
  background-image: url("/asset/img/contact-03.png");
  width: 167px;
  height: 142px;
}

.p-contact-ttl {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 30px;
}

.p-contact-read {
  font-size: 16px;
  line-height: 32px;
  font-weight: 600;
  margin-bottom: 38px;
}

.p-contact-tel {
  display: block;
  color: #2277EA;
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-weight: bold;
  width: 183px;
  margin: 37px auto 18px;
  position: relative;
}

.p-contact-tel::before {
  position: absolute;
  content: '';
  top: 8px;
  left: -25px;
  background-image: url("/asset/img/contact-04.png");
  width: 16px;
  height: 16px;
}

.p-contact-tel-read {
  color: #2277EA;
  font-size: 12px;
  font-weight: 600;
}

.p-mv {
  position: relative;
  padding: 294px 0 0 0;
  overflow: hidden;
}

@media (max-width: 768px) {
  .p-mv {
    padding: 158px 0 0 0;
  }
}

.p-mv::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background-image: url("/asset/img/mv-01.png");
  background-position: right;
  width: 1086px;
  height: 220px;
}

@media (max-width: 768px) {
  .p-mv::before {
    background-image: url("/asset/img/mv-01-sp.png");
    width: 322px;
    height: 90px;
  }
}

.p-mv::after {
  position: absolute;
  content: '';
  bottom: 70px;
  right: 0;
  z-index: -1;
  background-image: url("/asset/img/mv-04.png");
  background-position: left;
  width: 426px;
  height: 271px;
}

@media (max-width: 768px) {
  .p-mv::after {
    background-image: url("/asset/img/mv-04-sp.png");
    width: 277.29px;
    height: 149.73px;
    bottom: 60px;
    right: 20px;
  }
}

.p-mv-logo img {
  width: 2062px;
  height: 67px;
}

@media (max-width: 768px) {
  .p-mv-logo img {
    width: 1800px;
    height: 58.49px;
  }
}

.p-mv-ttl {
  width: 546px;
  margin: 0 auto;
  font-size: 78px;
  font-weight: 800;
  text-align: center;
  position: relative;
}

@media (max-width: 768px) {
  .p-mv-ttl {
    width: 322px;
    font-size: 46px;
  }
}

.p-mv-ttl::before {
  position: absolute;
  content: '';
  top: -167px;
  right: -290px;
  background-image: url("/asset/img/mv-02.png");
  z-index: -1;
  width: 340px;
  height: 289px;
}

@media (max-width: 768px) {
  .p-mv-ttl::before {
    top: -100px;
    right: 0px;
    background-image: url("/asset/img/mv-02-sp.png");
    width: 108.21px;
    height: 92px;
  }
}

.p-mv-ttl::after {
  position: absolute;
  content: '';
  bottom: -226px;
  left: -160px;
  background-image: url("/asset/img/mv-03.png");
  z-index: -1;
  width: 226px;
  height: 192px;
}

@media (max-width: 768px) {
  .p-mv-ttl::after {
    bottom: -330px;
    left: 0px;
    background-image: url("/asset/img/mv-03-sp.png");
    width: 84.72px;
    height: 70.81px;
  }
}

.p-mv-read {
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  line-height: 44px;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .p-mv-read {
    font-size: 18px;
    line-height: 34px;
  }
}

.p-mv .c-square-btn {
  margin-bottom: 120px;
}

@media (max-width: 768px) {
  .p-mv .c-square-btn {
    margin-bottom: 180px;
  }
}

.p-sec01 {
  padding-bottom: 120px;
}

.p-sec01-read-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  margin-right: -70px;
  margin-top: 60px;
}

.p-sec01-read01 {
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
  background-image: url("/asset/img/sec01-01.png");
  width: 330px;
  height: 330px;
  margin-top: 110px;
}

.p-sec01-read01-text {
  position: absolute;
  top: 70px;
  left: 65px;
}

.p-sec01-read02 {
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
  background-image: url("/asset/img/sec01-02.png");
  width: 370px;
  height: 372px;
}

.p-sec01-read02-text {
  position: absolute;
  top: 70px;
  left: 72px;
}

.p-sec01-read03 {
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
  background-image: url("/asset/img/sec01-03.png");
  width: 369px;
  height: 310px;
  margin-top: 110px;
}

.p-sec01-read03-text {
  position: absolute;
  top: 75px;
  left: 75px;
}

.p-sec01-ttl {
  font-size: 36px;
  line-height: 62px;
  font-weight: 800;
  text-align: center;
  color: #203467;
}

@media (max-width: 768px) {
  .p-sec01-ttl {
    font-size: 24px;
    line-height: 40px;
  }
}

.p-sec01-ttl span {
  font-size: 24px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .p-sec01-ttl span {
    font-size: 18px;
  }
}

.p-sec01-content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 55px;
  margin-bottom: 70px;
}

@media (max-width: 768px) {
  .p-sec01-content-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.p-sec01-left {
  padding: 60px 86px 0 0;
}

@media (max-width: 768px) {
  .p-sec01-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.p-sec01-left-ttl {
  font-size: 28px;
  font-weight: 700;
  line-height: 50px;
  color: #2277EA;
  margin-bottom: 70px;
}

@media (max-width: 768px) {
  .p-sec01-left-ttl {
    font-size: 20px;
    line-height: 34px;
  }
}

.p-sec01-list-wrap li {
  list-style: none;
  margin-bottom: 7px;
}

.p-sec01-list-wrap li:last-child {
  margin-bottom: 0px;
}

.p-sec01-list01 {
  background-image: url("/asset/img/sec01-05.png");
  position: relative;
  width: 600px;
  height: 72px;
  color: #203467;
  font-size: 20px;
  font-weight: 700;
  line-height: 72px;
  padding-left: 60px;
}

.p-sec01-list01::after {
  position: absolute;
  content: "";
  top: 7px;
  right: 15px;
  width: 56px;
  height: 56px;
  background-image: url("/asset/img/sec01-06.png");
}

.p-sec01-list02 {
  background-image: url("/asset/img/sec01-05.png");
  position: relative;
  width: 600px;
  height: 72px;
  color: #203467;
  font-size: 20px;
  font-weight: 700;
  line-height: 72px;
  padding-left: 60px;
}

.p-sec01-list02::after {
  position: absolute;
  content: "";
  top: 7px;
  right: 15px;
  width: 56px;
  height: 56px;
  background-image: url("/asset/img/sec01-07.png");
}

.p-sec01-list03 {
  background-image: url("/asset/img/sec01-05.png");
  position: relative;
  width: 600px;
  height: 72px;
  color: #203467;
  font-size: 20px;
  font-weight: 700;
  line-height: 72px;
  padding-left: 60px;
}

.p-sec01-list03::after {
  position: absolute;
  content: "";
  top: 7px;
  right: 15px;
  width: 56px;
  height: 56px;
  background-image: url("/asset/img/sec01-08.png");
}

.p-sec01-list04 {
  background-image: url("/asset/img/sec01-05.png");
  position: relative;
  width: 600px;
  height: 72px;
  color: #203467;
  font-size: 20px;
  font-weight: 700;
  line-height: 72px;
  padding-left: 60px;
}

.p-sec01-list04::after {
  position: absolute;
  content: "";
  top: 7px;
  right: 15px;
  width: 56px;
  height: 56px;
  background-image: url("/asset/img/sec01-09.png");
}

.p-sec01-list05 {
  background-image: url("/asset/img/sec01-05.png");
  position: relative;
  width: 600px;
  height: 72px;
  color: #203467;
  font-size: 20px;
  font-weight: 700;
  line-height: 72px;
  padding-left: 60px;
}

.p-sec01-list05::after {
  position: absolute;
  content: "";
  top: 7px;
  right: 15px;
  width: 56px;
  height: 56px;
  background-image: url("/asset/img/sec01-10.png");
}

.p-sec01-list06 {
  background-image: url("/asset/img/sec01-05.png");
  position: relative;
  width: 600px;
  height: 72px;
  color: #203467;
  font-size: 20px;
  font-weight: 700;
  line-height: 72px;
  padding-left: 60px;
}

.p-sec01-list06::after {
  position: absolute;
  content: "";
  top: 7px;
  right: 15px;
  width: 56px;
  height: 56px;
  background-image: url("/asset/img/sec01-11.png");
}

.p-sec01-end-text {
  font-size: 28px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 70px;
}

.p-sec02 {
  margin-bottom: 120px;
}

.p-sec02-ttl {
  font-size: 36px;
  line-height: 62px;
  font-weight: 800;
  text-align: center;
  color: #203467;
  margin-bottom: 56px;
}

@media (max-width: 768px) {
  .p-sec02-ttl {
    font-size: 24px;
    line-height: 40px;
  }
}

.p-sec02-ttl span {
  font-size: 24px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .p-sec02-ttl span {
    font-size: 18px;
  }
}

.p-sec02-read {
  max-width: 800px;
  margin: 0 auto;
  line-height: 32px;
  font-weight: 500;
}

.p-sec02-content01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 38px;
}

@media (max-width: 768px) {
  .p-sec02-content01 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.p-sec02-content01-ttl {
  font-size: 28px;
  font-weight: 700;
  line-height: 50px;
  color: #2277EA;
  padding-top: 80px;
  margin-bottom: 30px;
  margin-top: -11px;
}

@media (max-width: 768px) {
  .p-sec02-content01-ttl {
    font-size: 20px;
    line-height: 34px;
  }
}

.p-sec02-content01-read {
  width: 540px;
  line-height: 32px;
  margin-right: 70px;
}

.p-sec02-content02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

@media (max-width: 768px) {
  .p-sec02-content02 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.p-sec02-content02-ttl {
  font-size: 28px;
  font-weight: 700;
  line-height: 50px;
  color: #2277EA;
  margin-bottom: 30px;
  margin-top: -11px;
}

@media (max-width: 768px) {
  .p-sec02-content02-ttl {
    font-size: 20px;
    line-height: 34px;
  }
}

.p-sec02-content02-left {
  width: 540px;
  margin-left: 70px;
  line-height: 32px;
}

.p-sec02-phase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 28px;
  margin-top: 80px;
}

@media (max-width: 768px) {
  .p-sec02-phase {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.p-sec02-list01 {
  background-image: url("/asset/img/sec02-07.png");
  position: relative;
  width: 204px;
  height: 204px;
  color: #203467;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  text-align: center;
  padding-top: 118.3px;
  margin-right: 29px;
}

.p-sec02-list01::before {
  position: absolute;
  content: "";
  background-image: url("/asset/img/sec02-03.png");
  background-repeat: no-repeat;
}

.p-sec02-list01::after {
  position: absolute;
  content: "";
  background-image: url("/asset/img/sec02-11.png");
  background-repeat: no-repeat;
  top: 51px;
  right: 0;
  width: 36px;
  height: 19px;
}

.p-sec02-list01::before {
  width: 42.69px;
  height: 64.07px;
  left: -21.5px;
  bottom: 24px;
}

.p-sec02-list02 {
  background-image: url("/asset/img/sec02-08.png");
  position: relative;
  width: 204px;
  height: 204px;
  color: #203467;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  text-align: center;
  padding-top: 118.3px;
  margin-right: 54px;
}

.p-sec02-list02::before {
  position: absolute;
  content: "";
  background-image: url("/asset/img/sec02-04.png");
  background-repeat: no-repeat;
}

.p-sec02-list02::after {
  position: absolute;
  content: "";
  background-image: url("/asset/img/sec02-12.png");
  background-repeat: no-repeat;
  top: 51px;
  right: 0;
  width: 36px;
  height: 19px;
}

.p-sec02-list02::before {
  width: 56.02px;
  height: 67.02px;
  left: -21.5px;
  top: 0;
}

.p-sec02-list02::after {
  right: -20px;
}

.p-sec02-list03 {
  background-image: url("/asset/img/sec02-09.png");
  position: relative;
  width: 204px;
  height: 204px;
  color: #203467;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  text-align: center;
  padding-top: 118.3px;
  margin-right: 26px;
}

.p-sec02-list03::before {
  position: absolute;
  content: "";
  background-image: url("/asset/img/sec02-05.png");
  background-repeat: no-repeat;
}

.p-sec02-list03::after {
  position: absolute;
  content: "";
  background-image: url("/asset/img/sec02-11.png");
  background-repeat: no-repeat;
  top: 51px;
  right: 0;
  width: 36px;
  height: 19px;
}

.p-sec02-list03::before {
  width: 55.23px;
  height: 65.74px;
  left: -21.5px;
  bottom: 24px;
}

.p-sec02-list04 {
  background-image: url("/asset/img/sec02-10.png");
  position: relative;
  width: 204px;
  height: 204px;
  color: #203467;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  text-align: center;
  padding-top: 118.3px;
}

.p-sec02-list04::before {
  position: absolute;
  content: "";
  background-image: url("/asset/img/sec02-06.png");
  background-repeat: no-repeat;
}

.p-sec02-list04::after {
  position: absolute;
  content: "";
  background-image: url("/asset/img/sec02-11.png");
  background-repeat: no-repeat;
  top: 51px;
  right: 0;
  width: 36px;
  height: 19px;
}

.p-sec02-list04::before {
  width: 56.54px;
  height: 67.2px;
  left: -21.5px;
  top: 0;
}

.p-sec02-list04::after {
  content: none;
}

.p-sec03 {
  position: relative;
  margin-bottom: 100px;
}

.p-sec03::after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  z-index: -1;
  background-image: url("/asset/img/sec03-01.png");
  background-position: left;
  width: 536px;
  height: 349px;
}

.p-sec03-ttl {
  font-size: 36px;
  line-height: 62px;
  font-weight: 800;
  text-align: center;
  color: #203467;
  text-align: left;
  margin-bottom: 77px;
}

@media (max-width: 768px) {
  .p-sec03-ttl {
    font-size: 24px;
    line-height: 40px;
  }
}

.p-sec03-ttl span {
  font-size: 24px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .p-sec03-ttl span {
    font-size: 18px;
  }
}

.p-sec03-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .p-sec03-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.p-sec03-content03-ttl {
  font-size: 28px;
  font-weight: 700;
  line-height: 50px;
  color: #2277EA;
  margin-bottom: 30px;
  margin-top: -11px;
}

@media (max-width: 768px) {
  .p-sec03-content03-ttl {
    font-size: 20px;
    line-height: 34px;
  }
}

.p-sec03-content03-left {
  width: 540px;
  margin-left: 70px;
  line-height: 32px;
  padding-top: 50px;
}

.p-sec04 {
  margin-bottom: 120px;
}

.p-sec04-list-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 88px;
}

@media (max-width: 768px) {
  .p-sec04-list-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.p-sec04-list-wrap li {
  margin-bottom: 17px;
}

.p-sec04-list-wrap li:nth-child(odd) {
  margin-right: 24px;
}

.p-sec04-list-wrap li:last-child(3n) {
  margin-bottom: 0;
}

.p-sec04-ttl {
  font-size: 36px;
  line-height: 62px;
  font-weight: 800;
  text-align: center;
  color: #203467;
  margin-bottom: 78px;
}

@media (max-width: 768px) {
  .p-sec04-ttl {
    font-size: 24px;
    line-height: 40px;
  }
}

.p-sec04-ttl span {
  font-size: 24px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .p-sec04-ttl span {
    font-size: 18px;
  }
}

.p-sec05 {
  margin-bottom: 120px;
}

.p-sec05-ttl {
  font-size: 36px;
  line-height: 62px;
  font-weight: 800;
  text-align: center;
  color: #203467;
  margin-bottom: 56px;
}

@media (max-width: 768px) {
  .p-sec05-ttl {
    font-size: 24px;
    line-height: 40px;
  }
}

.p-sec05-ttl span {
  font-size: 24px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .p-sec05-ttl span {
    font-size: 18px;
  }
}

.p-sec05-read {
  max-width: 800px;
  margin: 0 auto;
  line-height: 32px;
  font-weight: 500;
}

.p-sec05-content01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
}

@media (max-width: 768px) {
  .p-sec05-content01 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.p-sec05-content01-ttl {
  font-size: 28px;
  font-weight: 700;
  line-height: 50px;
  color: #2277EA;
  margin-bottom: 30px;
  margin-top: -11px;
  position: relative;
  padding-top: 50px;
}

@media (max-width: 768px) {
  .p-sec05-content01-ttl {
    font-size: 20px;
    line-height: 34px;
  }
}

.p-sec05-content01-ttl::after {
  content: '';
  background-image: url("/asset/img/sec05-02.png");
  position: absolute;
  top: -70px;
  left: -83px;
  z-index: -1;
  width: 142px;
  height: 369px;
}

.p-sec05-content01-left, .p-sec05-content03-left {
  width: 500px;
  margin-left: 110px;
  line-height: 32px;
}

.p-sec05-content02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 34.4px;
}

@media (max-width: 768px) {
  .p-sec05-content02 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.p-sec05-content02-ttl {
  font-size: 28px;
  font-weight: 700;
  line-height: 50px;
  color: #2277EA;
  padding-top: 50px;
  margin-bottom: 30px;
  margin-top: -11px;
  position: relative;
}

@media (max-width: 768px) {
  .p-sec05-content02-ttl {
    font-size: 20px;
    line-height: 34px;
  }
}

.p-sec05-content02-ttl::after {
  content: '';
  background-image: url("/asset/img/sec05-03.png");
  position: absolute;
  top: -70px;
  left: -83px;
  z-index: -1;
  width: 142px;
  height: 369px;
}

.p-sec05-content02-read {
  width: 500px;
  line-height: 32px;
  margin-right: 32px;
}

.p-sec05-content03 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 0 100px;
}

@media (max-width: 768px) {
  .p-sec05-content03 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.p-sec05-content03-ttl {
  font-size: 28px;
  font-weight: 700;
  line-height: 50px;
  color: #2277EA;
  margin-bottom: 30px;
  margin-top: -11px;
  position: relative;
  padding-top: 50px;
}

@media (max-width: 768px) {
  .p-sec05-content03-ttl {
    font-size: 20px;
    line-height: 34px;
  }
}

.p-sec05-content03-ttl::after {
  content: '';
  background-image: url("/asset/img/sec05-06.png");
  position: absolute;
  top: -70px;
  left: -83px;
  z-index: -1;
  width: 142px;
  height: 369px;
}

.p-sec06 {
  margin-bottom: 120px;
}

.p-sec06-ttl {
  font-size: 36px;
  line-height: 62px;
  font-weight: 800;
  text-align: center;
  color: #203467;
  margin-bottom: 56px;
}

@media (max-width: 768px) {
  .p-sec06-ttl {
    font-size: 24px;
    line-height: 40px;
  }
}

.p-sec06-ttl span {
  font-size: 24px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .p-sec06-ttl span {
    font-size: 18px;
  }
}

.p-sec06-read {
  max-width: 800px;
  margin: 0 auto;
  line-height: 32px;
  font-weight: 500;
}

.p-sec06-content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 64px;
}

.p-sec06-strategy-wrap01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 44px;
  position: relative;
  padding-top: 57px;
}

.p-sec06-strategy-wrap01::before {
  content: '';
  background-image: url("/asset/img/sec06-08.png");
  position: absolute;
  top: 37px;
  left: -100px;
  width: 82px;
  height: 87px;
}

.p-sec06-strategy-wrap02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 44px;
  position: relative;
  padding-top: 57px;
}

.p-sec06-strategy-wrap02::before {
  content: '';
  background-image: url("/asset/img/sec06-09.png");
  position: absolute;
  top: 37px;
  left: -100px;
  width: 82px;
  height: 87px;
}

.p-sec06-strategy-wrap03 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 44px;
  position: relative;
  padding-top: 57px;
}

.p-sec06-strategy-wrap03::before {
  content: '';
  background-image: url("/asset/img/sec06-10.png");
  position: absolute;
  top: 37px;
  left: -100px;
  width: 82px;
  height: 87px;
}

.p-sec06-strategy-wrap04 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 44px;
  position: relative;
  padding-top: 57px;
}

.p-sec06-strategy-wrap04::before {
  content: '';
  background-image: url("/asset/img/sec06-11.png");
  position: absolute;
  top: 37px;
  left: -100px;
  width: 82px;
  height: 87px;
}

.p-sec06-strategy-wrap05 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 44px;
  position: relative;
  padding-top: 57px;
}

.p-sec06-strategy-wrap05::before {
  content: '';
  background-image: url("/asset/img/sec06-12.png");
  position: absolute;
  top: 37px;
  left: -100px;
  width: 82px;
  height: 87px;
}

.p-sec06-strategy-wrap06 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 44px;
  position: relative;
  padding-top: 57px;
}

.p-sec06-strategy-wrap06::before {
  content: '';
  background-image: url("/asset/img/sec06-13.png");
  position: absolute;
  top: 37px;
  left: -100px;
  width: 82px;
  height: 87px;
}

.p-sec06-strategy-ttl-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.p-sec06-strategy-ttl-wrap span {
  font-size: 16px;
  color: #ffffff;
  background-color: #2277EA;
  border-radius: 100px;
  width: 60px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  display: inline-block;
  margin: -2px 17px 0 0;
}

.p-sec06-strategy-ttl {
  font-size: 22px;
  font-weight: 700;
  color: #2277EA;
}

.p-sec06-strategy-read {
  width: 760px;
  margin-right: 40px;
  font-size: 16px;
  line-height: 32px;
}

.p-sec06-strategy-img {
  margin-top: 38px;
}

.p-sec07 {
  margin-bottom: 120px;
}

.p-sec07-ttl {
  font-size: 36px;
  line-height: 62px;
  font-weight: 800;
  text-align: center;
  color: #203467;
  margin-bottom: 56px;
}

@media (max-width: 768px) {
  .p-sec07-ttl {
    font-size: 24px;
    line-height: 40px;
  }
}

.p-sec07-ttl span {
  font-size: 24px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .p-sec07-ttl span {
    font-size: 18px;
  }
}

.p-sec07-content01-wrap {
  background-color: #F2F7FE;
  padding: 48px;
  margin-bottom: 120px;
}

.p-sec07-content01-ttl {
  font-size: 18px;
  font-weight: 600;
  line-height: 62px;
}

.p-sec07-img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.p-sec07-content01-read {
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 34px;
}

.p-sec07-content01-detail {
  font-size: 12px;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-sec07-content01-detail span {
  background-color: #9DBBE6;
  color: #ffffff;
  width: 32px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  margin: -3px 12px 0 0;
  display: block;
}

.p-sec07-content01-detail-top {
  margin-bottom: 6px;
}

.p-sec07-content02-wrap {
  margin-bottom: 120px;
}

.p-sec07-content02-ttl {
  font-size: 22px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  margin-bottom: 15px;
}

.p-sec07-content02-img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-sec07-content02-img-wrap img {
  margin-right: 41px;
  max-width: 100%;
  height: auto;
}

.p-sec07-content02-img-wrap-top {
  margin-bottom: 28px;
}

.p-sec07-content03-wrap {
  max-width: 1000px;
  margin: 0 auto 87px;
}

.p-sec07-content03-ttl {
  font-size: 22px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  margin-bottom: 25px;
}

.p-sec07-content03-youtube-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.p-sec07-content03-youtube {
  width: 320px;
}

.p-sec07-content03-youtube-detail {
  padding: 40px;
  background-color: #F2F7FE;
}

.p-sec07-content03-youtube-person {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 20px;
}

.p-sec07-content03-youtube-person span {
  font-size: 14px;
}

.p-sec07-content03-youtube-description {
  font-size: 14px;
  font-weight: 300;
  line-height: 28px;
}

.p-sec08 {
  margin-bottom: 120px;
}

.p-sec08-ttl {
  font-size: 36px;
  line-height: 62px;
  font-weight: 800;
  text-align: center;
  color: #203467;
  margin-bottom: 45px;
}

@media (max-width: 768px) {
  .p-sec08-ttl {
    font-size: 24px;
    line-height: 40px;
  }
}

.p-sec08-ttl span {
  font-size: 24px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .p-sec08-ttl span {
    font-size: 18px;
  }
}

.p-sec08-content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .p-sec08-content-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.p-sec08-img {
  margin-top: 100px;
}

.p-sec08-content-read {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}

.p-sec08-content-read a {
  text-decoration: underline;
}

.p-sec08-content01 {
  width: 400px;
  padding: 35px 40px;
  -webkit-box-shadow: 0px 10px 20px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 20px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-bottom: 24px;
}

.p-sec08-content01::after {
  content: '';
  background-image: url("/asset/img/sec08-02.png");
  position: absolute;
  width: 8px;
  height: 8px;
}

.p-sec08-content01::after {
  bottom: 90px;
  right: -16px;
}

.p-sec08-content-ttl01 {
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  padding-left: 40px;
  position: relative;
}

.p-sec08-content-ttl01::after {
  content: '';
  background-image: url("/asset/img/sec08-03.png");
  position: absolute;
  width: 28px;
  height: 37px;
  top: 0px;
  left: 0px;
}

.p-sec08-content03 {
  width: 400px;
  padding: 35px 40px;
  -webkit-box-shadow: 0px 10px 20px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 20px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-bottom: 24px;
}

.p-sec08-content03::after {
  content: '';
  background-image: url("/asset/img/sec08-02.png");
  position: absolute;
  width: 8px;
  height: 8px;
}

.p-sec08-content03::after {
  bottom: 115px;
  right: -16px;
}

.p-sec08-content-ttl03 {
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  padding-left: 40px;
  position: relative;
}

.p-sec08-content-ttl03::after {
  content: '';
  background-image: url("/asset/img/sec08-05.png");
  position: absolute;
  width: 28px;
  height: 37px;
  top: 0px;
  left: 0px;
}

.p-sec08-content05 {
  width: 400px;
  padding: 35px 40px;
  -webkit-box-shadow: 0px 10px 20px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 20px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  padding-top: 27px;
  margin-bottom: 24px;
}

.p-sec08-content05::after {
  content: '';
  background-image: url("/asset/img/sec08-02.png");
  position: absolute;
  width: 8px;
  height: 8px;
}

.p-sec08-content05::after {
  bottom: 135px;
  right: -16px;
}

.p-sec08-content-ttl05 {
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  padding-left: 40px;
  position: relative;
}

.p-sec08-content-ttl05::after {
  content: '';
  background-image: url("/asset/img/sec08-07.png");
  position: absolute;
  width: 28px;
  height: 37px;
  top: 0px;
  left: 0px;
}

.p-sec08-content07 {
  width: 400px;
  padding: 35px 40px;
  -webkit-box-shadow: 0px 10px 20px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 20px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  padding-top: 27px;
}

.p-sec08-content07::after {
  content: '';
  background-image: url("/asset/img/sec08-02.png");
  position: absolute;
  width: 8px;
  height: 8px;
}

.p-sec08-content07::after {
  bottom: 155px;
  right: -16px;
}

.p-sec08-content-ttl07 {
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  padding-left: 40px;
  position: relative;
}

.p-sec08-content-ttl07::after {
  content: '';
  background-image: url("/asset/img/sec08-09.png");
  position: absolute;
  width: 28px;
  height: 37px;
  top: 0px;
  left: 0px;
}

.p-sec08-content-right {
  margin-top: 40px;
}

.p-sec08-content02 {
  width: 400px;
  padding: 35px 40px;
  -webkit-box-shadow: 0px 10px 20px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 20px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-bottom: 24px;
}

.p-sec08-content02::after {
  content: '';
  background-image: url("/asset/img/sec08-02.png");
  position: absolute;
  width: 8px;
  height: 8px;
}

.p-sec08-content02::after {
  -webkit-transform: scale(-1, -1);
          transform: scale(-1, -1);
  bottom: 30px;
  left: -16px;
}

.p-sec08-content-ttl02 {
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  padding-left: 40px;
  position: relative;
}

.p-sec08-content-ttl02::after {
  content: '';
  background-image: url("/asset/img/sec08-04.png");
  position: absolute;
  width: 28px;
  height: 37px;
  top: 0px;
  left: 0px;
}

.p-sec08-content04 {
  width: 400px;
  padding: 35px 40px;
  -webkit-box-shadow: 0px 10px 20px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 20px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  padding-top: 27px;
  margin-bottom: 24px;
}

.p-sec08-content04::after {
  content: '';
  background-image: url("/asset/img/sec08-02.png");
  position: absolute;
  width: 8px;
  height: 8px;
}

.p-sec08-content04::after {
  -webkit-transform: scale(-1, -1);
          transform: scale(-1, -1);
  bottom: 45px;
  left: -16px;
}

.p-sec08-content-ttl04 {
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  padding-left: 40px;
  position: relative;
}

.p-sec08-content-ttl04::after {
  content: '';
  background-image: url("/asset/img/sec08-06.png");
  position: absolute;
  width: 28px;
  height: 37px;
  top: 0px;
  left: 0px;
}

.p-sec08-content06 {
  width: 400px;
  padding: 35px 40px;
  -webkit-box-shadow: 0px 10px 20px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 20px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-bottom: 24px;
}

.p-sec08-content06::after {
  content: '';
  background-image: url("/asset/img/sec08-02.png");
  position: absolute;
  width: 8px;
  height: 8px;
}

.p-sec08-content06::after {
  -webkit-transform: scale(-1, -1);
          transform: scale(-1, -1);
  bottom: 140px;
  left: -16px;
}

.p-sec08-content-ttl06 {
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  padding-left: 40px;
  position: relative;
  line-height: 30px;
}

.p-sec08-content-ttl06::after {
  content: '';
  background-image: url("/asset/img/sec08-08.png");
  position: absolute;
  width: 28px;
  height: 37px;
  top: 0px;
  left: 0px;
}

.p-sec08-content08 {
  width: 400px;
  padding: 35px 40px;
  -webkit-box-shadow: 0px 10px 20px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 20px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-bottom: 24px;
}

.p-sec08-content08::after {
  content: '';
  background-image: url("/asset/img/sec08-02.png");
  position: absolute;
  width: 8px;
  height: 8px;
}

.p-sec08-content08::after {
  -webkit-transform: scale(-1, -1);
          transform: scale(-1, -1);
  bottom: 150px;
  left: -16px;
}

.p-sec08-content-ttl08 {
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  padding-left: 40px;
  position: relative;
}

.p-sec08-content-ttl08::after {
  content: '';
  background-image: url("/asset/img/sec08-10.png");
  position: absolute;
  width: 28px;
  height: 37px;
  top: 0px;
  left: 0px;
}

.p-sec08-content-option {
  width: 960px;
  padding: 40px;
  text-align: center;
  margin: 51.7px auto 86.7px;
  -webkit-box-shadow: 0px 10px 20px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 20px 8px rgba(0, 0, 0, 0.1);
}

.p-sec08-content-ttl-option {
  margin-bottom: 13px;
}

.p-sec08-content-ttl-option img {
  max-width: 71px;
  margin: 0 auto;
}

.p-sec09 {
  margin-bottom: 76px;
}

.p-sec09-ttl {
  font-size: 36px;
  line-height: 62px;
  font-weight: 800;
  text-align: center;
  color: #203467;
  margin-bottom: 56px;
}

@media (max-width: 768px) {
  .p-sec09-ttl {
    font-size: 24px;
    line-height: 40px;
  }
}

.p-sec09-ttl span {
  font-size: 24px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .p-sec09-ttl span {
    font-size: 18px;
  }
}

.p-sec09-content-wrap {
  margin-top: 80px;
  background-image: url("/asset/img/sec09-06.png");
  background-repeat: no-repeat;
  background-position: center , right -10px;
}

.p-sec09-content-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  line-height: 38px;
}

@media (max-width: 768px) {
  .p-sec09-content-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.p-sec09-content-left {
  margin-top: 113px;
  position: relative;
}

.p-sec09-content-left::before {
  position: absolute;
  content: '';
  top: -50px;
  right: 125px;
  background-image: url("/asset/img/sec09-04.png");
  width: 100px;
  height: 85px;
}

.p-sec09-content-left::after {
  position: absolute;
  content: '';
  bottom: -70px;
  left: -135px;
  background-image: url("/asset/img/sec09-05.png");
  width: 290px;
  height: 278px;
  z-index: -1;
}

.p-sec09-content-img {
  margin-left: -70px;
}

.p-sec09-content-ttl {
  font-size: 30px;
  font-weight: 700;
  line-height: 54px;
  margin-top: 35px;
  letter-spacing: 0.1em;
}

.p-sec09-content-right {
  width: 480px;
  padding: 171px 0 95px;
}

.p-sec09-content-right p {
  margin-bottom: 18px;
  font-weight: 600;
}

.p-sec09-content-right p:nth-child(4) {
  margin-bottom: 33px;
}

.p-sec09-content-right p:last-child {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-align: right;
  margin-bottom: 0;
}
/*# sourceMappingURL=style.css.map */