@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

//dammy
header,footer {
    img {
        width: 100%;
    }
}

header {
    position: fixed;
    z-index: 9999;
    margin-top: -5px;
}

// contact 
.p-contact {
    background-image: url("/asset/img/contact-01.png");
    background-repeat: no-repeat;
    background-position: center top;
    color: $white;
    text-align: center;
    padding-top: 140px;
    position: relative;
    width: 1160px;
    margin: 0 auto;
    &::before {
        position: absolute;
        content: '';
        top: -25px;
        left: 207px;
        z-index: -1;
        background-image: url("/asset/img/contact-02.png");
        width: 95px;
        height: 80px;
    }
    &::after {
        position: absolute;
        content: '';
        bottom: 36px;
        right: 126px;
        background-image: url("/asset/img/contact-03.png");
        width: 167px;
        height: 142px;
    }
    &-ttl {
        font-size: 34px;
        font-weight: 700;
        margin-bottom: 30px;
    }
    &-read {
        font-size: 16px;
        line-height: 32px;
        font-weight: 600;
        margin-bottom: 38px;
    }
    &-tel {
        display: block;
        color: $base-blue;
        font-family: 'Roboto', sans-serif;
        font-size: 28px;
        font-weight: bold;
        width: 183px;
        margin: 37px auto 18px;
        position: relative;
        &::before {
            position: absolute;
            content: '';
            top: 8px;
            left: -25px;
            background-image: url("/asset/img/contact-04.png");
            width: 16px;
            height: 16px;
        }
    }
    &-tel-read {
        color: $base-blue;
        font-size: 12px;
        font-weight: 600;
    }
}

// mv
.p-mv {
    position: relative;
    padding: 294px 0 0 0;
    overflow: hidden;
    @include sp {
        padding: 158px 0 0 0;
    }
    &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        background-image: url("/asset/img/mv-01.png");
        background-position: right;
        width: 1086px;
        height: 220px;
        @include sp {
            background-image: url("/asset/img/mv-01-sp.png");
            width: 322px;
            height: 90px;
        }
    }
    &::after {
        position: absolute;
        content: '';
        bottom: 70px;
        right: 0;
        z-index: -1;
        background-image: url("/asset/img/mv-04.png");
        background-position: left;
        width: 426px;
        height: 271px;
        @include sp {
            background-image: url("/asset/img/mv-04-sp.png");
            width: 277.29px;
            height: 149.73px;
            bottom: 60px;
            right: 20px;
        }
    }
    &-logo {
        img {
            width: 2062px;
            height: 67px;
            @include sp {
                width: 1800px;
                height: 58.49px;
            }
        }
    }
    &-ttl {
        width: 546px;
        margin: 0 auto;
        font-size: 78px;
        font-weight: 800;
        text-align: center;
        position: relative;
        @include sp {
            width: 322px;
            font-size: 46px;
        }
        &::before {
            position: absolute;
            content: '';
            top: -167px;
            right: -290px;
            background-image: url("/asset/img/mv-02.png");
            z-index: -1;
            width: 340px;
            height: 289px;
            @include sp {
                top: -100px;
                right: 0px;
                background-image: url("/asset/img/mv-02-sp.png");
                width: 108.21px;
                height: 92px;
            }
        }
        &::after {
            position: absolute;
            content: '';
            bottom: -226px;
            left: -160px;
            background-image: url("/asset/img/mv-03.png");
            z-index: -1;
            width: 226px;
            height: 192px;
            @include sp {
                bottom: -330px;
                left: 0px;
                background-image: url("/asset/img/mv-03-sp.png");
                width: 84.72px;
                height: 70.81px;
            }
        }
    }
    &-read {
        text-align: center;
        font-size: 26px;
        font-weight: 700;
        line-height: 44px;
        margin-bottom: 50px;
        @include sp {
            font-size: 18px;
            line-height: 34px;
        }
    }
    .c-square-btn {
        margin-bottom: 120px;
        @include sp {
            margin-bottom: 180px;
        }
    }
}


// sec01
.p-sec01 {
    padding-bottom: 120px;
    &-read-wrap {
        display: flex;
        color: $white;
        font-size: 20px;
        line-height: 36px;
        font-weight: 700;
        margin-right: -70px;
        margin-top: 60px;
    }
    &-read01 {
        background-repeat: no-repeat;
        text-align: center;
        position: relative;
        background-image: url("/asset/img/sec01-01.png");
        width: 330px;
        height: 330px;
        margin-top: 110px;
        // text
        &-text {
            position: absolute;
            top: 70px;
            left: 65px;
        }
    }
    &-read02 {
        background-repeat: no-repeat;
        text-align: center;
        position: relative;
        background-image: url("/asset/img/sec01-02.png");
        width: 370px;
        height: 372px;
        // text
        &-text {
            position: absolute;
            top: 70px;
            left: 72px;
        }
    }
    &-read03 {
        background-repeat: no-repeat;
        text-align: center;
        position: relative;
        background-image: url("/asset/img/sec01-03.png");
        width: 369px;
        height: 310px;
        margin-top: 110px;
        // text
        &-text {
            position: absolute;
            top: 75px;
            left: 75px;
        }
    }
    &-ttl {
        @include section-ttl;
    }
    &-content-wrap {
        @include flex-box;
        margin-top: 55px;
        margin-bottom: 70px;
    }
    &-left {
        padding: 60px 86px 0 0;
        @include sp {
            display: flex;
        }
    }
    &-left-ttl {
        @include content-ttl;
        margin-bottom: 70px;
    }
    &-list-wrap {
        li {
            list-style: none;
            margin-bottom: 7px;
            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
    &-list01 {
        @include sec01-list("06")
    }
    &-list02 {
        @include sec01-list("07")
    }
    &-list03 {
        @include sec01-list("08")
    }
    &-list04 {
        @include sec01-list("09")
    }
    &-list05 {
        @include sec01-list("10")
    }
    &-list06 {
        @include sec01-list("11")
    }
    &-end-text {
        font-size: 28px;
        font-weight: 800;
        text-align: center;
        margin-bottom: 70px;
    }
}

// Se02
.p-sec02 {
    margin-bottom: 120px;
    &-ttl {
        @include section-ttl;
        margin-bottom: 56px;
    }
    &-read {
        max-width: 800px;
        margin: 0 auto;
        line-height: 32px;
        font-weight: 500;
    }
    &-content01 {
        @include flex-box;
        margin-top: 38px
    }
    &-content01-ttl {
        @include content-ttl;
        padding-top: 80px;
        margin-bottom: 30px;
        margin-top: -11px;
    }
    &-content01-read {
        width: 540px;
        line-height: 32px;
        margin-right: 70px;
    }
    &-content02 {
        @include flex-box;
        margin-top: 40px;
    }
    &-content02-ttl {
        @include content-ttl;
        margin-bottom: 30px;
        margin-top: -11px;
    }
    &-content02-left {
        width: 540px;
        margin-left: 70px;
        line-height: 32px;
    }
    &-phase {
        @include flex-box;
        padding-left: 28px;
        margin-top: 80px;
    }
    &-list01 {
        @include sec02-list("07","03");
        margin-right: 29px;
        &::before {
            width: 42.69px;
            height: 64.07px;
            left: -21.5px;
            bottom: 24px;
        }
    }
    &-list02 {
        @include sec02-list("08","04","12");
        margin-right: 54px;
        &::before {
            width: 56.02px;
            height: 67.02px;
            left: -21.5px;
            top: 0;
        }
        &::after {
            right: -20px;
        }
    }
    &-list03 {
        @include sec02-list("09","05");
        margin-right: 26px;
        &::before {
            width: 55.23px;
            height: 65.74px;
            left: -21.5px;
            bottom: 24px;
        }
    }
    &-list04 {
        @include sec02-list("10","06");
        &::before {
            width: 56.54px;
            height: 67.2px;
            left: -21.5px;
            top: 0;
        }
        &::after {
            content: none;
        }
    }
}

// Sec03
.p-sec03 {
    position: relative;
    margin-bottom: 100px;
    &::after {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        z-index: -1;
        background-image: url("/asset/img/sec03-01.png");
        background-position: left;
        width: 536px;
        height: 349px;
    }
    &-ttl {
        @include section-ttl;
        text-align: left;
        margin-bottom: 77px;
    }
    &-content {
        @include flex-box;
    }
    &-content03-ttl {
        @include content-ttl;
        margin-bottom: 30px;
        margin-top: -11px;
    }
    &-content03-left {
        width: 540px;
        margin-left: 70px;
        line-height: 32px;
        padding-top: 50px;
    }
}

// Sec04
.p-sec04 {
    margin-bottom: 120px;
    &-list-wrap {
        @include flex-box;
        flex-wrap: wrap;
        margin-bottom: 88px;
        li {
            margin-bottom: 17px;
            &:nth-child(odd){
                margin-right: 24px;
            }
            &:last-child(3n) {
                margin-bottom: 0;
            }
        }
    }
    &-ttl {
        @include section-ttl;
        margin-bottom: 78px;
    }
}

// Sec05
.p-sec05 {
    margin-bottom: 120px;
    &-ttl {
        @include section-ttl;
        margin-bottom: 56px;
    }
    &-read {
        max-width: 800px;
        margin: 0 auto;
        line-height: 32px;
        font-weight: 500;
    }
    &-content01 {
        @include flex-box;
        margin-top: 80px;
    }
    &-content01-ttl {
        @include content-ttl;
        margin-bottom: 30px;
        margin-top: -11px;
        position: relative;
        padding-top: 50px;
        &::after {
            content: '';
            background-image: url('/asset/img/sec05-02.png');
            position: absolute;
            top: -70px;
            left: -83px;
            z-index: -1;
            width: 142px;
            height: 369px;
        }
    }
    &-content01-left, &-content03-left{
        width: 500px;
        margin-left:110px;
        line-height: 32px;
    }
    &-content02 {
        @include flex-box;
        justify-content: flex-end;
        margin-top: 34.4px
    }
    &-content02-ttl {
        @include content-ttl;
        padding-top: 50px;
        margin-bottom: 30px;
        margin-top: -11px;
        position: relative;
        &::after {
            content: '';
            background-image: url('/asset/img/sec05-03.png');
            position: absolute;
            top: -70px;
            left: -83px;
            z-index: -1;
            width: 142px;
            height: 369px;
        }
    }
    &-content02-read {
        width: 500px;
        line-height: 32px;
        margin-right: 32px;
    }
    &-content03 {
        @include flex-box;
        margin: 50px 0 100px;
    }
    &-content03-ttl {
        @include content-ttl;
        margin-bottom: 30px;
        margin-top: -11px;
        position: relative;
        padding-top: 50px;
        &::after {
            content: '';
            background-image: url('/asset/img/sec05-06.png');
            position: absolute;
            top: -70px;
            left: -83px;
            z-index: -1;
            width: 142px;
            height: 369px;
        }
    }
}

// Sec06
.p-sec06 {
    margin-bottom: 120px;
    &-ttl {
        @include section-ttl;
        margin-bottom: 56px;
    }
    &-read {
        max-width: 800px;
        margin: 0 auto;
        line-height: 32px;
        font-weight: 500;
    }
    &-content-wrap {
        display: flex;
        margin-bottom: 64px;
    }
    &-strategy-wrap01 {
        @include strategy-wrap("08");
    }
    &-strategy-wrap02 {
        @include strategy-wrap("09");
    }
    &-strategy-wrap03 {
        @include strategy-wrap("10");
    }
    &-strategy-wrap04 {
        @include strategy-wrap("11");
    }
    &-strategy-wrap05 {
        @include strategy-wrap("12");
    }
    &-strategy-wrap06 {
        @include strategy-wrap("13");
    }
    &-strategy-ttl-wrap {
        display: flex;
        margin-bottom: 20px;
        span {
            font-size: 16px;
            color: $white;
            background-color: $base-blue;
            border-radius: 100px;
            width: 60px;
            height: 28px;
            line-height: 28px;
            text-align: center;
            display: inline-block;
            margin: -2px 17px 0 0;
        }
    }
    &-strategy-ttl {
        font-size: 22px;
        font-weight: 700;
        color: $base-blue;
    }
    &-strategy-read {
        width: 760px;
        margin-right: 40px;
        font-size: 16px;
        line-height: 32px;
    }
    &-strategy-img {
        margin-top: 38px;
    }
}

// Sec07
.p-sec07 {
    margin-bottom: 120px;
    &-ttl {
        @include section-ttl;
        margin-bottom: 56px;
    }
    &-content01-wrap {
        background-color: $thin-blue;
        padding: 48px;
        margin-bottom: 120px;
    }
    &-content01-ttl {
        font-size: 18px;
        font-weight: 600;
        line-height: 62px;
    }
    &-img-wrap {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }
    &-content01-read {
        font-size: 14px;
        font-weight: 300;
        line-height: 30px;
        margin-bottom: 34px;
    }
    &-content01-detail {
        font-size: 12px;
        font-weight: 300;
        display: flex;
        span {
            background-color: $dark-blue;
            color: $white;
            width: 32px;
            height: 18px;
            line-height: 18px;
            text-align: center;
            margin: -3px 12px 0 0;
            display: block;
        }
        &-top {
            margin-bottom: 6px;
        }
    }
    &-content02-wrap {
        margin-bottom: 120px;
    }
    &-content02-ttl {
        @include sub-ttl;
        margin-bottom: 15px;
    }
    &-content02-img-wrap {
        display: flex;
        align-items: center;
        img {
            margin-right: 41px;
            max-width: 100%;
            height: auto;
        }
        &-top {
            margin-bottom: 28px;
        }
    }
    &-content03-wrap {
        max-width: $content-width-pc;
        margin: 0 auto 87px; 
    }
    &-content03-ttl {
        @include sub-ttl;
        margin-bottom: 25px;
    }
    &-content03-youtube-wrap {
        display: flex;
        justify-content: space-between;
    }
    &-content03-youtube {
        width: 320px;
    }
    &-content03-youtube-detail {
        padding: 40px;
        background-color: $thin-blue;
    }
    &-content03-youtube-person {
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        line-height: 32px;
        margin-bottom: 20px;
        span {
            font-size: 14px;
        }
    }
    &-content03-youtube-description {
        font-size: 14px;
        font-weight: 300;
        line-height: 28px;
    }
}

// Sec08
.p-sec08 {
    margin-bottom: 120px;
    &-ttl {
        @include section-ttl;
        margin-bottom: 45px;
    }
    &-content-wrap {
        @include flex-box;
        justify-content: space-between;
    }
    &-img {
        margin-top: 100px;
    }
    &-content-read {
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
        a {
            text-decoration: underline;
        }
    }
    // 左側
    &-content01 {
        @include content;
        margin-bottom: 24px;
        &::after {
            bottom: 90px;
            right: -16px;
        }
    }
    &-content-ttl01 {
        @include content-ttl-list("03");
    }
    &-content03 {
        @include content;
        margin-bottom: 24px;
        &::after {
            bottom: 115px;
            right: -16px;
        }
    }
    &-content-ttl03 {
        @include content-ttl-list("05");
    }
    &-content05 {
        @include content;
        padding-top: 27px;
        margin-bottom: 24px;
        &::after {
            bottom: 135px;
            right: -16px;
        }
    }
    &-content-ttl05 {
        @include content-ttl-list("07");
    }
    &-content07 {
        @include content;
        padding-top: 27px;
        &::after {
            bottom: 155px;
            right: -16px;
        }
    }
    &-content-ttl07 {
        @include content-ttl-list("09");
    }
    // 右側
    &-content-right {
        margin-top: 40px;
    }
    &-content02 {
        @include content;
        margin-bottom: 24px;
        &::after {
            transform: scale(-1,-1);
            bottom: 30px;
            left: -16px;
        }
    }
    &-content-ttl02 {
        @include content-ttl-list("04");
    }
    &-content04 {
        @include content;
        padding-top: 27px;
        margin-bottom: 24px;
        &::after {
            transform: scale(-1,-1);
            bottom: 45px;
            left: -16px;
        }
    }
    &-content-ttl04 {
        @include content-ttl-list("06");
    }
    &-content06 {
        @include content;
        margin-bottom: 24px;
        &::after {
            transform: scale(-1,-1);
            bottom: 140px;
            left: -16px;
        }
    }
    &-content-ttl06 {
        @include content-ttl-list("08");
        line-height: 30px
    }
    &-content08 {
        @include content;
        margin-bottom: 24px;
        &::after {
            transform: scale(-1,-1);
            bottom: 150px;
            left: -16px;
        }
    }
    &-content-ttl08 {
        @include content-ttl-list("10");
    }
    // option
    &-content-option {
        width: 960px;
        padding: 40px;
        text-align: center;
        margin: 51.7px auto 86.7px;
        box-shadow: 0px 10px 20px 8px rgba(0,0,0,0.1);
    }
    &-content-ttl-option {
        margin-bottom: 13px;
    }
}

// Sec09
.p-sec09 {
    margin-bottom: 76px;
    &-ttl {
        @include section-ttl;
        margin-bottom: 56px;
    }
    &-content-wrap {
        margin-top: 80px;
        background-image: url("/asset/img/sec09-06.png");
        background-repeat: no-repeat;
        background-position: center , right -10px;
    }
    &-content-inner {
        @include flex-box;
        justify-content: space-between;
        max-width: 1000px;
        margin: 0 auto;
        color: $white;
        font-size: 18px;
        font-weight: 600;
        line-height: 38px;
    }
    &-content-left {
        margin-top: 113px;
        position: relative;
        &::before {
            position: absolute;
            content: '';
            top: -50px;
            right: 125px;
            background-image: url("/asset/img/sec09-04.png");
            width: 100px;
            height: 85px;
        }
        &::after {
            position: absolute;
            content: '';
            bottom: -70px;
            left: -135px;
            background-image: url("/asset/img/sec09-05.png");
            width: 290px;
            height: 278px;
            z-index: -1;
        }
    }
    &-content-img {
        margin-left: -70px;
    }
    &-content-ttl {
        font-size: 30px;
        font-weight: 700;
        line-height: 54px;
        margin-top: 35px;
        letter-spacing: 0.1em;
    }
    &-content-right {
        width: 480px;
        padding: 171px 0 95px;
        p {
            margin-bottom: 18px;
            font-weight: 600;
            &:nth-child(4) {
                margin-bottom: 33px;
            }
            &:last-child {
                font-size: 16px;
                font-weight: 500;
                line-height: 30px;
                text-align: right;
                margin-bottom: 0;
            }
        }
    }
}