@import "../base/color";

// common
@mixin section-ttl {
  font-size: 36px;
  line-height: 62px;
  font-weight: 800;
  text-align: center;
  color: $base;
  @include sp {
      font-size: 24px;
      line-height: 40px;
  }
  span {
    font-size: 24px;
    font-weight: 700;
    @include sp {
        font-size: 18px;
    }
  }
}

@mixin content-ttl {
  font-size: 28px;
  font-weight: 700;
  line-height: 50px;
  color: $base-blue;
  @include sp {
      font-size: 20px;
      line-height: 34px;
  }
}

@mixin flex-box {
  display: flex;
  @include sp {
    flex-direction: column;
  }
}

// Sec01
@mixin sec01-list($img-num:01) {
  background-image: url("/asset/img/sec01-05.png");
  position: relative;
  width: 600px;
  height: 72px;
  color: $base;
  font-size: 20px;
  font-weight: 700;
  line-height: 72px;
  padding-left: 60px;
  &::after {
    position: absolute;
    content: "";
    top: 7px;
    right: 15px;
    width: 56px;
    height: 56px;
    background-image: url("/asset/img/sec01-#{$img-num}.png");
  }
}

// Sec02
@mixin sec02-list($phase-bg:07,$phase-img:03,$phase-aft:11) {
  background-image: url("/asset/img/sec02-#{$phase-bg}.png");
  position: relative;
  width: 204px;
  height: 204px;
  color: $base;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  text-align: center;
  padding-top: 118.3px;
  &::before {
    position: absolute;
    content: "";
    background-image: url("/asset/img/sec02-#{$phase-img}.png");
    background-repeat: no-repeat;
  }
  &::after {
    position: absolute;
    content: "";
    background-image: url("/asset/img/sec02-#{$phase-aft}.png");
    background-repeat: no-repeat;
    top: 51px;
    right: 0;
    width: 36px;
    height: 19px;
  }
}

// Sec04
@mixin acd-img($img-num:01) {
  position: relative;
  &::after {
    content: '';
    background-image: url('/asset/img/sec04-#{$img-num}.png');
    position: absolute;
    top: -16px;
    right: 32px;
    width: 80px;
    height: 80px;
  }
}

//Sec06
@mixin strategy-wrap($img-num:08) {
  display: flex;
  margin-left: 44px;
  position: relative;
  padding-top: 57px;
  &::before {
      content: '';
      background-image: url('/asset/img/sec06-#{$img-num}.png');
      position: absolute;
      top: 37px;
      left: -100px;
      width: 82px;
      height: 87px;
  }
}


// Sec07
@mixin sub-ttl {
  font-size: 22px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
}

// Sec08
@mixin content {
  width: 400px;
  padding: 35px 40px;
  box-shadow: 0px 10px 20px 8px rgba(0,0,0,0.1);
  position: relative;
  &::after {
      content: '';
      background-image: url('/asset/img/sec08-02.png');
      position: absolute;
      width: 8px;
      height: 8px;
  }
}

@mixin content-ttl-list($img-num:03) {
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  padding-left: 40px;
  position: relative;
  &::after {
      content: '';
      background-image: url('/asset/img/sec08-#{$img-num}.png');
      position: absolute;
      width: 28px;
      height: 37px;
      top: 0px;
      left: 0px;
  }
}
